/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h2, h3, h4, h5, h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  /* margin-left: 10%; */
  display: flex;
  justify-content: space-around;
}
.h1__title {
 font-size: 40px;
 margin-bottom: -10px;
 font-family: "Patua One", serif;
 letter-spacing: 2px;
 margin-left: 10%;

}

.heading__text {
  letter-spacing: 2px;
  margin-left: 10%;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

/* 
article {
  border: 2px solid green;
} */