/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

button {
  color: #150a0a;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0px 5px;
  background-color: rgb(223, 172, 32);
  border: 1px rgb(143, 141, 137) solid;
  filter: drop-shadow(1px 1px 2px rgba(74, 72, 10, 0.694));
}
.h2-home {
  font-size: 40px;
  border: 2px solid rgba(255, 204, 0, 0.146);
  background-color: rgb(238, 205, 114);
  filter: drop-shadow(1px 1px 2px rgba(74, 72, 10, 0.694));
  color: #353535ec;
  margin: 50px 100px;
}


h2, h3, h4, h5, h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  margin-top: Opx;
  padding-top: Opx;
  /* margin-left: 10%; */
  display: flex;
  justify-content: space-around;
}

.h1__title {
 font-size: 70px;
 margin-bottom: -10px;
 font-family: "Patua One", serif;
 letter-spacing: 2px;
 margin-left: 10%;
margin-top: auto;
padding-top: 2%;
filter: drop-shadow(1px 1px 8px rgba(230, 229, 198, 0.694));
}

.heading__text {
  letter-spacing: 2px;
  margin-left: 10%;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}


.box {
  width: 100%; 
}

/* HEADER NASHVILLE KENNELS*/
.div-1 {
  height: 65vh;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-cute-orange-pet-shop-promotion-banner-image_194564.jpg);
  background-attachment: fixed;
  background-size: cover;   
  border-bottom: 1px solid rgba(128, 128, 128, 0.228);
} 

/* ANIMALS SECTION*/
.div-2 {
  background-image: url(../images/prints.png);
  margin-bottom: 30px;
  padding-bottom: 30px;
  background-attachment: scroll;
} 

/* EMPLOYEES SECTION*/
.div-3 {
   /* height: 90vh; */
  /* border: 3px solid purple; */
  padding-bottom: 3em;
}  

/* LOCATION SECTION*/
.div-4 {
   /* height: 90vh; */
  /* border: 3px solid purple; */
  padding-bottom: 3em;
  background-image: url(../images/locationGray.png);
  background-size: contain;
  background-position: right;
  background-position-x: 550px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}  

address {
  font-size: 20px;
  margin-top: -5px;
}

.slogan {
  font-size: 20px;
  color: #150a0a;
  margin-top: -5px;
  text-emphasis-style: bold;
}
