.navBarDiv {
    /* border: 2px solid rgb(61, 114, 206); */
    background-color: rgb(218, 165, 32);
    margin-right: auto;
    margin-left: auto;
    padding-top: 7px;
    padding-bottom: 10px;
    position: static;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    /* border: 2px solid green; */
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar a {
    color: white;
    font-size: 18px;
}

a:hover {
    font-size: 22px;
  }
